SERVER_PORT=8200
SERVER_HOST=0.0.0.0

SML_DB_HOST=192.168.2.248
SML_DB_PORT=5432
SML_DB_USER=postgres
SML_DB_PASSWORD=sml
SML_DB_SSLMODE=disable

# comma-separated API keys
API_KEYS=dev-key,your-production-key
